@using Kigg.Web
@model Kigg.Web.BadgesViewData

@functions
{
    private string GetParityCssClass(int number)
    {
        return number % 2 == 0 ? "odd" : "even";
    }
}

<ol class="badges">
    @{
        int i = 0;
        foreach (var badge in Model.Badges.OrderByDescending(x => x.Count))
        {
            <li class='custom-badge @GetParityCssClass(i)'>
                <strong>@Html.Translated(badge.Name)</strong>
                @if (badge.Name == "PlaqueBadge")
                {
                    <a href="http://blog.dotnetomaniak.pl/post/czy-masz-juz-swoja-plakietke.aspx">
                        - @badge.Description
                    </a>
                }
                else
                {
                    <div>
                        - @badge.Description
                    </div>
                }
                <span>@badge.Count</span>
            </li>
            i++;
        }
    }
</ol>